@model UserCreate

@{
	ViewBag.ActivePage = PageNameConst.UserCreate;
	ViewData["Title"] = "Yeni Kullanıcı Oluşturma Sayfası";
}

<section id="basic-vertical-layouts">
	<div class="row">
		<div class="col-md-6 col-6">
			<div class="card">
				@*<div class="card-header">
				<h4 class="card-title">Vertical Form with Icons</h4>
				</div>*@
				<div class="card-body">
					<form class="form form-vertical" method="post">
						<div class="form-group mb-2">
							<div asp-validation-summary="ModelOnly" class="text-danger small">
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="mb-1">
									<label class="form-label">Kullanıcı Adı</label>
									<div class="input-group input-group-merge">
										<span class="input-group-text"><i data-feather="user"></i></span>
										<input type="text" class="form-control" name="UserName" placeholder="Kullanıcı Adı" />
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="mb-1">
									<label class="form-label">Rol</label>
									<select class="select2 form-select" name="EnumRole" id="select2-basic">
										@foreach (var item in Extensions.ConvertEnumToDictionary<EnumUsersRole>())
										{
											<option value="@item.Id">@item.Name</option>
										}
									</select>
								</div>
							</div>
							<div class="col-12">
								<button type="submit" class="btn btn-primary me-1">Oluştur</button>
								<div>@TempData["Success"]</div>
								<div>@TempData["Error"]</div>

							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@{
	List<string> errors = ViewContext.ModelState.Values.SelectMany(x => x.Errors.Select(y => y.ErrorMessage)).ToList();
}


@section Scripts{
	<script>
		@if (errors.Count > 0)
		{
			foreach (string err in errors)
			{
				@:toastr["error"]('@err', 'Hata!')
			}
		}
		@if (TempData["Error"] != null)
		{
			@:toastr["error"]('@TempData["Error"]', 'Hata');
		}

		@if (TempData["Success"] != null)
		{
			@:toastr["success"]('@TempData["Success"]', 'Başarılı');
		}
	</script>


	<script src="~/assets/js/scripts/forms/form-select2.js"></script>
}