@model IEnumerable<UserQuery>


@{
	ViewBag.ActivePage = PageNameConst.UserList;
	ViewData["Title"] = "Kullanıcı Listeleme Sayfası";
}

<div class="row my-2">
	<div class="col">
		<a asp-action="Create" class="btn btn-primary btn-sm">
			<i data-feather='plus-circle'></i> Yeni
		</a>
	</div>
</div>

<section id="responsive-datatable">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header border-bottom">
					<h4 class="card-title">Responsive Datatable</h4>
				</div>
				<div class="card-datatable">
					<table class="dt-responsive table">
						<thead>
							<tr>
								<th>Id</th>
								<th>UserName</th>
								<th>Role</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model)
							{
								<tr>
									<td>@item.Id</td>
									<td>@item.UserName</td>
									<td>@item.EnumRole</td>
									<td>@item.Status</td>
									<td>
										<a href="/User/Update/@item.Id" class="btn btn-info text-white btn-sm">Düzenle</a>
										<a href="/User/Delete/@item.Id" class="btn btn-danger text-white btn-sm">Sil</a>
									</td>
									
									
								</tr>
							}
						</tbody>


						<tfoot>
							<tr>
								<th>Id</th>
								<th>UserName</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

@section Styles{
	<link rel="stylesheet" type="text/css" href="../assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
}
@*
@section Scripts{
	<script src="../assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
	<script src="../assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
	<script src="../assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
	<script src="../assets/vendors/js/tables/datatable/responsive.bootstrap5.js"></script>
	<script src="../assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>

	<script>
		$(document).ready(function () {
			$('.table').DataTable({
				data: @Html.Raw(JsonConvert.SerializeObject(Model)),
				columns: [
					{ data: "Id" },
					{ data: "UserName" },
					{
						data: "Status",
						render: function (data) {
							if (data)
								return '<span class="alert alert-success">' + data + '</span>';
							else
								return '<span class="alert alert-danger">' + data + '</span>';
						}
					},
					{
						data: "Id",
						render: function (data) {
							return '<a asp-action="Edit" asp-controller="User" asp-route-id="' + data + '" class="btn btn-info text-white btn-sm">Güncelle</a>' +
								'<a asp-action="Delete" asp-controller="User" asp-route-id="' + data + '" class="btn btn-danger btn-sm">Sil</a>';
						}
					}
				]
			});
		});
	</script>
}*@