@model UserUpdate

<!-- Table head options start operation claims -->
<div class="row" id="table-head">
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Kullanıcı Ekleme</h4>
			</div>
			<form asp-action="Update" asp-controller="User" method="post" class="login100-form validate-form">
				<div class="table-responsive">
					<table class="table">

						<tbody>
							<tr>
								<td>Kullanıcı Adı</td>
								<td> <input class="input100" type="text" asp-for="UserName"></td>
								<span asp-validation-for="UserName" class="text-danger"></span>
							</tr>
							<tr>
								<td>Rol</td>
								<td>
									<select class="select2 form-select" name="EnumRole" asp-for="EnumRole" id="select2-basic">
										@foreach (var item in Extensions.ConvertEnumToDictionary<EnumUsersRole>())
										{
											@if (Model.EnumRole.Equals(item.Name))
											{
												<option selected value="@item.Id">@item.Name</option>
											}else
											{
												<option value="@item.Id">@item.Name</option>
											}
										}
									</select>
								</td>
								<span asp-validation-for="EnumRole" class="text-danger"></span>
							</tr>

					

							<tr>
								<td></td>
								<td>
									<button type="submit" class="btn btn-primary">KAYDET </button>
								</td>
							</tr>
							@*@Html.HiddenFor(x => x.CreateDate)
							@Html.HiddenFor(x => x.PasswordSalt)*@
						</tbody>
					</table>
				</div>
			</form>
		</div>

	</div>
</div>
<!-- Table head options end -->
@*
<section id="basic-vertical-layouts">
	<div class="row">
		<div class="col-md-6 col-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Vertical Form with Icons</h4>
				</div>
				<div class="card-body">
					<form asp-action="Update" asp-controller="User" class="form form-vertical" method="post">
						<div class="form-group mb-2">
							<div asp-validation-summary="ModelOnly" class="text-danger small">
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="mb-1">
									<label class="form-label">Kullanıcı Adı</label>
									<div class="input-group input-group-merge">
										<span class="input-group-text"><i data-feather="user"></i></span>
										<input type="text" class="form-control" name="UserName" placeholder="Kullanıcı Adı" />
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="mb-1">
									<label class="form-label">Rol</label>
									<select class="select2 form-select" name="EnumRole" id="select2-basic">
										@foreach (var item in Extensions.ConvertEnumToDictionary<EnumUsersRole>())
										{
											<option value="@item.Id">@item.Name</option>
										}
									</select>
								</div>
							</div>


							<div class="col-12">
								<button type="submit" class="btn btn-primary me-1">Güncelle</button>
								<div>@ViewData["Success"]</div>
								<div>@ViewData["Error"]</div>

							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@{
	List<string> errors = ViewContext.ModelState.Values.SelectMany(x => x.Errors.Select(y => y.ErrorMessage)).ToList();
}


@section Scripts{
	<script>
		@if (errors.Count > 0)
		{
			foreach (string err in errors)
			{
				//@:toastr["error"]('@err', 'Hata!')
			}
		}

		@if (ViewData["success"] != null)
		{
			// @:toastr["success"]('@ViewData["success"]', 'Eklendi');
		}
	</script>


	<script src="~/assets/js/scripts/forms/form-select2.js"></script>
}*@